<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JLB_Customer.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C20CDE09300F1EE759152AE12C3CEC8CCA2D7BCE</string>
				<key>dateExpires</key>
				<string>2018/8/28</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2F85MS5QM7.com.biz.junlebaodrp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2F85MS5QM7</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>2F85MS5QM7.com.biz.junlebaodrp</string>
				</array>
			</dict>
			<key>name</key>
			<string>JLB_Customer.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4c9066eb-8b1a-4c5f-9c9a-d7344b0ce50e</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2F85MS5QM7</string>
				<key>name</key>
				<string>liu chang</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
